#! /usr/bin/env python
# -*- coding: utf-8 -*-

from os import environ as env

import anyjson

# compatible with tsuru/redisapi
_REDIS_HOSTS = env.get('REDIS_HOSTS')
REDIS_HOST = env.get('REDIS_HOST', 'localhost')
REDIS_PORT = env.get('REDIS_PORT', '6379')
if _REDIS_HOSTS:
    _REDIS_HOSTS = anyjson.loads(_REDIS_HOSTS)
    REDIS_HOST, REDIS_PORT = _REDIS_HOSTS[0].split(':')

REDIS_HOST = env.get('ASYNX_REDIS_HOST', REDIS_HOST)
REDIS_PORT = int(env.get('ASYNX_REDIS_PORT', REDIS_PORT))
REDIS_DB = int(env.get('ASYNX_REDIS_DB', '0'))
